<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="linkedengine-mapper">
 
	<select id="selectServerList" resultType="hashmap">
		  <![CDATA[
			select * 
			from webadmin.tb_mt_co_svrinfo
			where type = 'POSTGRESQL'
            order by sys_nm desc
          ]]>
	</select>
	
	<!-- kafka 서버 목록조회 -->
	<select id="selectKafkaServerList" resultType="hashmap">
		  <![CDATA[
			select * 
			from webadmin.tb_mt_co_svrinfo
			where type in ( 'KAFKA', 'KAFKA-SCHEMA-REGISTR')
			and sys_nm like #{sys_nm}
			and type like #{type}
            order by sys_nm desc
          ]]>
	</select>
		
	<!-- kafka connect 서버 목록조회 -->
	<select id="selectKafkaConnectServerList" resultType="hashmap">
		  <![CDATA[
			select * 
			from webadmin.tb_mt_co_svrinfo
			where type =  ('KAFKA-CONNECT')
			and sys_nm like #{sys_nm}
            order by sys_nm desc
          ]]>
	</select>
		

</mapper>